body{
  background-color: #aaa;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: transparent;
    min-height: 100%;
    width: 100%;
    height: 100vh;
  }
  
  .flex-container > * {
    margin: 1px;
    align-items: stretch;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    background-color: #202427a9;
    padding: 5px;
    flex-grow: 2;
    height: 70vh;
    border: 2px solid #fe2658;
  }

  .item1 {
    grid-column: 1 / 3;
  }

  .btn {
    width: 4vw;
    height: 4vw;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb #aaa #999;
    text-shadow: 0 1px 0 #eee;
    background: #ccc;
    color: #333;
    font-family: 'Lucida Grande';
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px #fff, inset 0 -1px 1px #aaa, 0 2px 4px -3px #666;
  }

  .dropDown{
      height: 5vh;
  }

  canvas{
    flex-grow: 8;
  }

  #translateBtn{
    cursor: move;
  }

  .logo{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 10%;
  }